body {
  display: grid;
  font-size: var(--font-size-normal);
  font-family: var(--font-stack-body);
  grid-template-columns: repeat(12, 1fr);
  max-width: 960px;
  margin: auto;
  color: var(--text-color-main);
  background-color: var(--bg-color-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-main-emphasis);
  font-family: var(--font-stack-headings);
  font-weight: var(--font-weight-bold);
}

header {
  text-align: center;
  outline: 1px yellow solid;
}

footer {
  padding: 10px 30px;
  text-align: center;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
  outline: 1px yellow solid; /* DEBUG */
}

nav {
  outline: 1px yellow solid; /* DEBUG */
}

section {
  outline: 1px yellow solid; /* DEBUG */
}
